@font-face {
  font-family: 'Kaushanscript-Regular';
  src: url('../fonts/Kaushanscript-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Lightitalic';
  src: url('../fonts/Roboto-Lightitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}
